@font-face {
    font-family: "inter";
    src: url(../font/Inter-Regular.ttf);
}

@font-face {
    font-family: "mrdafoe";
    src: url(../font/MrDafoe-Regular.ttf);
}

@font-face {
    font-family:"roboto" ;
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: "santio";
    src: url(../font/Santio\ regular.ttf);
}

$fontInter: "inter";
$fontmrdafoe: "mrdafoe";
$fontRoboto:"roboto;"